USE [master]
GO
/****** Nesnesi: Database [DigitalLibraryDB] Betik Tarihi: 28.08.2026 01:16:17 ******/
CREATE DATABASE [DigitalLibraryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DigitalLibraryDB', FILENAME = N'C:\Users\pc\DigitalLibraryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DigitalLibraryDB_log', FILENAME = N'C:\Users\pc\DigitalLibraryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DigitalLibraryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DigitalLibraryDB]
GO
/****** Nesnesi: Table [dbo].[Categories] Betik Tarihi: 28.08.2026 01:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[ParentID] [int] NULL,
	[IsAdminOnly] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Documents] Betik Tarihi: 28.08.2026 01:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[FilePath] [nvarchar](max) NULL,
	[FileExtension] [nvarchar](10) NULL,
	[CategoryID] [int] NULL,
	[UploadDate] [datetime] NULL,
	[UploadedBy] [int] NULL,
	[IsPrivate] [bit] NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Logs] Betik Tarihi: 28.08.2026 01:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ActionType] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
	[IconClass] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[SystemSettings] Betik Tarihi: 28.08.2026 01:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](100) NULL,
	[MaxUploadSizeMB] [int] NULL,
	[IsMaintenanceMode] [bit] NULL,
	[AllowRegistration] [bit] NULL,
	[EnableAuditLogs] [bit] NULL,
 CONSTRAINT [PK_SystemSettings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Users] Betik Tarihi: 28.08.2026 01:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Role] [nvarchar](100) NULL,
	[Password] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[DeactivationReason] [nvarchar](500) NULL,
	[Department] [nvarchar](50) NULL,
 CONSTRAINT [PK__Users__3214EC27ADF1221B] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([ID], [Name], [ParentID], [IsAdminOnly]) VALUES (1, N'IT Departmanı', NULL, NULL)
INSERT [dbo].[Categories] ([ID], [Name], [ParentID], [IsAdminOnly]) VALUES (2, N'İnsan Kaynakları', NULL, NULL)
INSERT [dbo].[Categories] ([ID], [Name], [ParentID], [IsAdminOnly]) VALUES (5, N'Yazılım', 1, NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Documents] ON 

INSERT [dbo].[Documents] ([ID], [Title], [Description], [FilePath], [FileExtension], [CategoryID], [UploadDate], [UploadedBy], [IsPrivate], [UserID]) VALUES (22, N'Çalışan Oryantasyon Rehberi', N'Yeni çalışanların şirkete uyum sürecinde ihtiyaç duyacağı temel bilgiler ve şirket prosedürlerini içerir.', N'/App_Data/Uploads/faadb4ad-4055-4d24-a610-f399d82ec38f.pdf', N'.pdf', 2, CAST(N'2026-08-27T23:12:42.463' AS DateTime), NULL, 0, 2)
INSERT [dbo].[Documents] ([ID], [Title], [Description], [FilePath], [FileExtension], [CategoryID], [UploadDate], [UploadedBy], [IsPrivate], [UserID]) VALUES (23, N'Yıllık İzin Prosedürü', N'Çalışanların yıllık izin taleplerinin oluşturulması ve onaylanmasıyla ilgili süreçleri açıklar.', N'/App_Data/Uploads/0a5a6c7f-b921-4117-8b37-2de51cce941f.pdf', N'.pdf', 2, CAST(N'2026-08-27T23:13:08.503' AS DateTime), NULL, 0, 2)
INSERT [dbo].[Documents] ([ID], [Title], [Description], [FilePath], [FileExtension], [CategoryID], [UploadDate], [UploadedBy], [IsPrivate], [UserID]) VALUES (24, N'2026 Finansal Durum Raporu', N'Şirketin 2026 yılı finansal durumunu ve temel mali göstergelerini içeren rapordur.', N'/App_Data/Uploads/e46d85f2-d201-4930-ad6d-c6c9040ea16e.docx', N'.docx', 11, CAST(N'2026-08-27T23:13:38.137' AS DateTime), NULL, 0, 2)
SET IDENTITY_INSERT [dbo].[Documents] OFF
GO
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([ID], [ActionType], [Description], [IconClass], [CreatedAt], [UserID]) VALUES (1, N'Yeni Personel Eklendi', N'''Burak Yılmaz'' isimli personel sisteme dahil edildi.', N'fa-user-plus', CAST(N'2026-08-16T00:51:01.460' AS DateTime), NULL)
INSERT [dbo].[Logs] ([ID], [ActionType], [Description], [IconClass], [CreatedAt], [UserID]) VALUES (2, N'Personel Aktifleştirildi', N'''Özlem Şen'' kullanıcısı tekrar aktif edildi.', N'fa-user-check', CAST(N'2026-08-16T00:51:14.767' AS DateTime), NULL)
INSERT [dbo].[Logs] ([ID], [ActionType], [Description], [IconClass], [CreatedAt], [UserID]) VALUES (3, N'Kategori Silindi', N'''Oryantasyon Eğitimleri'' kategorisi sistemden kaldırıldı.', N'fa-folder-minus', CAST(N'2026-08-17T16:34:27.163' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemSettings] ON 

INSERT [dbo].[SystemSettings] ([ID], [CompanyName], [MaxUploadSizeMB], [IsMaintenanceMode], [AllowRegistration], [EnableAuditLogs]) VALUES (1, N'Kurumsal Doküman Merkezi', 5, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SystemSettings] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Name], [Email], [Role], [Password], [IsActive], [DeactivationReason], [Department]) VALUES (2, N'Özlem Şen', N'ozlemsen381@gmail.com', N'Admin', N'Maroon3838', 1, NULL, N'Üst Yönetim')
INSERT [dbo].[Users] ([ID], [Name], [Email], [Role], [Password], [IsActive], [DeactivationReason], [Department]) VALUES (4, N'Mehmet Yılmaz', N'mehmet@sirket.com', N'Personel', N'1234', 1, NULL, N'Muhasebe & Finans')
INSERT [dbo].[Users] ([ID], [Name], [Email], [Role], [Password], [IsActive], [DeactivationReason], [Department]) VALUES (5, N'Burak Yılmaz', N'ozlemsenn871@gmail.com', N'Personel', N'AB0474', 1, NULL, N'Satış & Pazarlama')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Documents] ADD  DEFAULT (getdate()) FOR [UploadDate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD FOREIGN KEY([ParentID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK__Documents__Uploa__4E88ABD4] FOREIGN KEY([UploadedBy])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK__Documents__Uploa__4E88ABD4]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_Logs_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_Logs_Users]
GO
USE [master]
GO
